@tailwind base;
@tailwind components;
@tailwind utilities;


.title-logo {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}
.title-logo .span {
  -webkit-text-stroke: #00dc93;
  color: #00dc93;
}